/* layout: contains all the css that handles the layout, such as the container and any grid systems. */

@mixin desktop {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 600px) {
        @content;
    }
}

body {
    background: black;
    font-size: 16px;
    color: #ffffff;
    
  }
  
  .top {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-top: 30px;
  }
  
  p {
    margin: 50px;
    color: white;
  }
  
  select {
    color: black;
    background: white;
    width: 20%;
  }

  .logo {
      width: 40%;
  }