/* layout: contains all the css that handles the layout, such as the container and any grid systems. */
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Light.eot');
    src: url('OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('OpenSans-Light.woff2') format('woff2'),
        url('OpenSans-Light.woff') format('woff'),
        url('OpenSans-Light.ttf') format('truetype'),
        url('OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}



   
html {
    font-family: "Open Sans"
}

body {
    background: black;
    font-size: 16px;
    color: #ffffff;
    
    
  }
  
.top {
   
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
        p {
        margin: 20px;
        color: white;
        }
        
        select {
        color: black;
        background: white;
        width: 23%;
        border-radius: 5px;
        font-size: 14px;
        padding: 2px 0px 2px 5px;
        }     

  }

.logo {
    width: 50%;
    margin-top: 120px; 
}



.display {
    height: 1000px;
    position: relative;
    img {
        width: 100%;  
    }
    p { 
        
        padding: 20px; 
        color: white;     
    }   
    
}

footer {
    color: #c2c2c2;
    padding: 20px 0;
    margin: 20px 0; 
    p {
    text-align: center;
    vertical-align: bottom; }
    }

    


@include tablet {
  
   
    .display {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        height: 100%;
    }
}

@include desktop {

    .display {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 100%;
    }


}

    
        


    




  
  
  